@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background-image: -moz-linear-gradient(
    20deg,
    rgb(145, 255, 0),
    rgb(0, 64, 255)
  );

  background-image: -webkit-linear-gradient(
    20deg,
    rgb(145, 255, 0),
    rgb(0, 64, 255)
  );

  background-image: linear-gradient(
    20deg,
    rgb(145, 255, 0),
    rgb(0, 64, 255)
  );
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
